version: '3'
services:
  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
    # Optional but nice for debugging
    restart: on-failure

  db:
    build: db/.
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: employees
    ports:
      - "33060:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10